@tailwind base;

a {
  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-blue-700;
}

@tailwind components;

@tailwind utilities;

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.overlay__inner {
  left: 0;
  top: 35vh;
  width: 100%;
  height: 100%;
  position: absolute;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}